.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 1rem 1.0875rem 1.45rem;
  @media screen and (max-width: 768px) {
    overflow-x: scroll;
  }

  min-height: 110px !important;

  .leftCorner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.6rem;
    align-items: center;
  }
  .rightCorner {
    display: flex;
    align-items: center;
    .siteTitle {
      position: absolute;

      font-size: 1.3rem;
      font-weight: bold;

      bottom: 1rem;
      right: 1rem;

      .small {
        @media screen and (max-width: 768px) {
          font-size: 0.8rem;
        }
        font-size: 1.1rem;
        font-weight: 400;
      }
    }
  }
}
